@media screen and (min-width: 1000px) {

    header h1 {
        margin-right: 480px;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li a {
        font-size: 1.25rem;
    }

    #main-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hero {
        grid-column: 1 / 4;
    }

    #hero-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgba(255, 165, 0, 0.7);
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        max-width: 80%;
        font-size: 1.25em;
    }

    #callToAction {
        padding: 0.5rem;
    }

    #carlsbadCard {
        grid-column: 1 / 2;
        text-align: center;
    }

    #malibuCard {
        grid-column: 2 / 3;
        text-align: center;
    }

    #santaBarbaraCard {
        grid-column: 3 / 4;
        text-align: center;
    }

    #weatherCard {
        grid-column: 1 / 2;
        margin: 1rem;
    }

    #forecastCard {
        grid-column: 2 / 4;
        margin: 1rem;
    }

    footer {
        position: relative;
    }

    ul.social-links {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    ul.social-links li {
        display: inline-block;
        margin-right: 10px;
    }
    ul.social-links img {
        width: 20px;
        height: 20px;
    }
    ul.social-links a {
        display: block;
    }

    /*Hamburger Menu */
        .menu-show, .menu-hide, .menu-show.showing, .menu-hide.showing {
        display: none;
    }

    #nav-menu {
        display: flex;
    }

    /* About Us Page */
    #main-aboutus picture img{
        width: 400;
    }
}