@media screen and (min-width: 640px)
{
    #nav-menu {
        display: flex;
        flex-direction: row;
    }

    #hero {
        grid-column: 1 / 4;
        margin-top: 5px;
    }

    #hero-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgba(255, 165, 0, 0.7);
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        max-width: 80%;
        font-size: 1.25em;
    }

    #hero-overlay {
        max-width: 90%; 
    }

    #hero-overlay h2 {
        font-size: 2em; 
    }

    #hero-overlay p {
        font-size: 0.8em; 
    }

    #callToAction {
        font-size: 1em;
        padding: 0.5rem; 
    }

    #sanDiegoCard img, #malibuCard img, #santaBarbaraCard img {
        width: auto;
    }

    #carlsbadCard img {
        width: auto;
    }

    /*Hamburger Menu */
    .menu-show, .menu-hide, .menu-show.showing, .menu-hide.showing {
        display: none;
    }
    
    #nav-menu {
        display: flex;
    }
}

