@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    margin: 0 auto;
    font-family: 'Roboto Condensed';
    background-color: #C7EBDF;
    max-width: 1200px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

main section {
    border: groove black;
    margin: 1em;
}

main section p {
    font-size: large;
    padding: 1rem;
}

main a {
    font-size: large;
    padding: 1rem;
}

main section h3 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-block-start: 0px;
}

main section h4 {
    padding: 1rem;
}

.section1 img {
    width: 300px;
    height: 400px;
}

.section2 img {
    width: 300px;
    height: 400px;
}

.section3 img {
    width: 300px;
    height: 400px;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}
