@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #096B72;
    --secondary-color: #171A21;
    --accent-color: #ECF0F1;
}

header {
    text-align: center;
    color: #ECF0F1;
    background-color: #096B72;
    padding: 1rem;
    border-radius: 15px;
}

body {
    max-width: 800px;
    font-family: Montserrat;
    margin: 0 auto;
    color: #171A21;
}

main section h3 {
    padding: 1rem;
    font: bold;
}

main section p {
    margin-left: 15px;
    font-family: sans-serif;
}

main section p b {
    font: bold;
}

.section1 {
    color: #096B72;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }

  .colors th {
    background-color: #999;
  }

  .colors td{
    width: 25%;
    height: 3em;
  }

  .primary {
    background-color: var(--primary-color);
  }

  .secondary {
    background-color: var(--secondary-color);
    color: white;
  }

  .accent {
    background-color: var(--accent-color);
  }

  main section h4 {
    padding: 1rem;
  }

  .section6 p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    justify-items: center;
  }

  #img1 {
    height: 400px;
  }

  #img2 {
    height: 400px;
    width: 400px;
    grid-column: 2 / 3;
    margin-right: 10px;
  }

footer {
    text-align: center;
    background-color: #096B72;
    color: #ECF0F1;
    padding: 1rem;
    border-radius: 15px;
}