@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat&display=swap');

:root {
    --background-color: #ECF0F1;
    --text-color: #ECF0F1;
    --paragraph-color: #171A21;
    --header-background: #096B72;
    --hover-color: yellow;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--background-color);
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--header-background);
    padding: 1rem;
    font-family: Montserrat;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    font: bold;
}

nav ul li {
    list-style: none;
    margin-top: 50px;
}

nav a:hover {
    color: var(--hover-color);
}

section h1 {
    text-align: center;
    color: var(--paragraph-color);
}

#callToAction {
    position: absolute;
    left: 35%;
    bottom: 45%;
    padding: 1rem;
}

#weatherCard p {
    text-align: center;
}

h2 {
    text-align: center;
}

main section h2 {
    text-align: center;
    padding: 1rem;
    font-family: montserrat;
    color: var(--paragraph-color);
}

main section p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#currentEvent img, #weatherCard img{
    border-radius: 50%;
}

#spotlight1 img, #spotlight2 img{
    border-radius: 50%;
}

main section p {
    font-family: cabin;
    color: var(--paragraph-color);
}

footer {
    font-family: montserrat;
    background-color: var(--header-background);
    color: var(--text-color);
    padding: 1rem;
}

footer p img {
    width: 100px;
    height: 100px;
}

footer p {
    text-align: center;
}

/* hamburger menu */

.active {
    color: yellow;
}

.menu-hide, .menu-show {
    display: none;
    margin: 0% 85% 0%;
}

.menu-hide.showing, .menu-show.showing {
    display: block;
}

#nav-menu {
    display: none;
}

#nav-menu.showing {
    display: flex;
}

nav button {
    width: 50px;
    height: 50px;
}

/*Dark Mode */

#dark-mode {
    position: absolute;
    right: 2.5rem;
    top: 7rem;
    background-color: var(--background-color);
}

button {
    color: var(--paragraph-color);
    background-color: var(--background-color);
}

#hero {
    position: relative;
}

#hero img {
    width: 100%;
}

#hero h2::before {
    content: "Small ";
}

#hero h2 {
    padding: 1rem;
    position: absolute;
    left: 0px;
    margin-block-start: 0em;
    background-color: black;
    color: white;
}

/* Discover.html */

#discover-main {
    display: block;
}

#discover-demographics, #discover-message, #discover-calendar {
    color: var(--paragraph-color);
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 0;
}

#discover-images {
    text-align: center;
}

#discover-images h3 {
    color: var(--paragraph-color);
    text-align: center;
    padding: 2rem;
}

#discover-message h3 {
    font-size: larger;
}

#discovery-table {
    text-align: center;
    justify-content: center;
}

/* join.html */

.join {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

#join-main h3 {
    color: var(--paragraph-color);
}

label.myinput {
    display: block;
    padding-top: 1rem;
}

label.myinput input, label.myinput textarea {
    display: block;
    font-size: 1.1rem;
    padding: .5rem;
    width: 20rem;
    max-width: 20rem;
}

input:invalid {
    box-shadow: 1px 1px 1px red;
}

label {
    display: block;
    color: var(--paragraph-color);
    margin: .5rem 0;
}

label .radio {
    display: block;
}

label .radio input {
    margin-right: 1rem;
}

.mysubmit {
    background-color: blue;
    color: var(--text-color);
    margin: 1rem 0 1rem 0;
    padding: .5rem;
    font-size: 1.5rem;
}

ul li {
    color: var(--paragraph-color);
}

#thankyou-page p {
    text-align: center;
}