@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat&display=swap');

:root {
    --background-color: #ECF0F1;
    --text-color: #ECF0F1;
    --paragraph-color: #171A21;
    --header-background: #096B72;
    --hover-color: yellow;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--background-color);
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--header-background);
    padding: 1rem;
    font-family: Montserrat;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    font: bold;
}

nav ul li {
    list-style: none;
    margin-top: 50px;
}

nav a:hover {
    color: var(--hover-color);
}

section h1 {
    text-align: center;
    color: var(--paragraph-color);
}

#hero img {
    grid-column: 1 / 3;
    width: 100%;
    position: relative;
    text-align: center;
}

#callToAction {
    position: absolute;
    left: 40%;
    bottom: 25%;
    padding: 1rem;
}

#weatherCard img {
    width: 350;
    height: 300;
}

#weatherCard p {
    text-align: center;
}

h2 {
    text-align: center;
}

main section h2 {
    text-align: center;
    padding: 1rem;
    font-family: montserrat;
    color: var(--paragraph-color);
}

main section p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#currentEvent img, #weatherCard img{
    border-radius: 50%;
}

#spotlight1 img, #spotlight2 img{
    border-radius: 50%;
}

main section p {
    font-family: cabin;
    color: var(--paragraph-color);
}

footer {
    font-family: montserrat;
    background-color: var(--header-background);
    color: var(--text-color);
    padding: 1rem;
}

footer p img {
    width: 100px;
    height: 100px;
}

footer p {
    text-align: center;
}

/* hamburger menu */

.active {
    color: yellow;
}

.menu-hide, .menu-show {
    display: none;
    margin: 0% 85% 0%;
}

.menu-hide.showing, .menu-show.showing {
    display: block;
}

#nav-menu {
    display: none;
}

#nav-menu.showing {
    display: flex;
}

nav button {
    width: 50px;
    height: 50px;
}

/*Dark Mode */

#dark-mode {
    position: absolute;
    right: 2.5rem;
    top: 6rem;
    background-color: var(--background-color);
}

button {
    color: var(--paragraph-color);
    background-color: var(--background-color);
}