body {
    font-family: Lucida Console;
    background-color: #FFFAFF;
}

header {
    display: flex;
    background-color: #0A2463;
    color: #FFFAFF;
    align-items: center;
    justify-content: center;
    
}

nav {
    background-color: black;
    color: #FFFAFF;
    text-align: center;
    margin: 0px;
    padding: 50px;
    justify-content: space-between;
}

h3 {
    background-color: #0A2463;
    color: #FFFAFF;
    padding: 10px;
    border-style: groove;
}

footer {
    background-color: #0A2463;
    color: #FFFAFF;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
}

img {
    width: 100px;
    height: auto;
}