@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

body {
    margin: 0 auto;
    font-family: 'Ubuntu Mono';
    background-color: black;
    max-width: 1000px;
}
  
header {
    display: flex;
    background-color: #0A2463;
    color: white;
    text-align: center;
    padding: 1rem;
}

header img {
    width: 100px;
    justify-content: space-around;
    margin-right: 25%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0A2463;
    list-style: none;
    padding: 1rem;
    height: 150px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
    margin-top: 5%;
}

nav ul a:hover{
    box-shadow: inset 400px 400px rgb(88, 98, 125);
}

main section {
    border: groove gray;
    margin: 1rem 0rem;
}

main section p {
    padding: 1rem;
    font-size: Large;
}

main h2 {
    color: white;
    text-align: center;
}

main section h3 {
    background-color: #0A2463;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-block-start: 0px;
}

main section li {
    color: white;
    margin: 2%;
    font-size: Large;
}

main section a {
    color: white;
}

main section p {
    color: white;
    text-align: center;
}

footer {
    background-color: #0A2463;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: -25px;
    font-size: large;
}

footer p {
    font-size: medium;
}