@media screen and (min-width: 850px){

    nav ul {
        flex-direction: row;
        height: 50px;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .information {
        grid-column: 2 / 3;
    }

    .learningActivities {
        grid-column: 1 / 2;
    }

    main section {
        margin: 1rem .5rem;
    }
}